<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container-form">
      <div class="window-form">
        <form class="message-form" method="POST" action="/new">
          <h1>Type your message!</h1>

          <input
            type="text"
            required
            name="authorText"
            placeholder="Your name"
          />
          <input
            type="text"
            required
            name="messageText"
            placeholder="Your message"
          />
          <button class="btn" type="submit">Add message</button>
        </form>
      </div>
    </div>
  </body>
</html>
