html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

.container {
  background-color: #082f49;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container-form {
  background-color: #082f49;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  background-color: #164e63;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  color: #f8fafc;
}

a {
  text-decoration: none;
  color: inherit;
}

.window {
  background-color: #0f172a;
  border-radius: 20px;
  width: 65%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
  color: #f8fafc;
}

.window-form {
  background-color: #0f172a;
  border-radius: 20px;
  width: 65%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
  color: #f8fafc;
}

.message-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-form input {
  width: 20%;
  margin: 1rem;
  background-color: #1e293b;
  border: 0;
  color: #f8fafc;
}

.form-btn {
  border: 2px solid #f8fafc;
  border-radius: 10px;
  padding: 1rem;
  background-color: #0f172a;
}

.form-btn:hover {
  color: #0f172a;
  background-color: #f8fafc;
  transition: 0.2s;
}

.btn {
  text-decoration: none;
  border: 0;
  background-color: #083344;
  color: #f8fafc;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 12px;
}

.btn:hover {
  color: #0f172a;
  background-color: #f8fafc;
  transition: 0.2s;
}

.message {
  border: 2px solid whitesmoke;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
}

.details {
  font-style: italic;
  border-radius: 10px;
  padding: 0.1rem;
}

.details:hover {
  color: #0f172a;
  background-color: #f8fafc;
  transition: 0.2s;
}

.back {
  text-decoration: none;
  border: 0;
  color: #f8fafc;
  font-style: italic;
  border-radius: 10px;
  padding: 0.2rem;
}

.back:hover {
  color: #0f172a;
  background-color: #f8fafc;
  transition: 0.2s;
}
